<section class="section-oferta oferta">
    <div class="oferta__container">
        <div class="oferta__top top-title">
            <h1 class="oferta__title title">Оферта</h1>
        </div>
        <div class="oferta__content">
            <h2 class="oferta__title-text">Договір публічної оферти</h2>
            <p class="oferta__text">За цим Договором одна сторона Сервіс доставки суші Моносуші* – Продавець, з одного боку,<br>
                і будь-яка особа, яка прийняла умови даного Договору публічної оферти – Покупець, з іншого боку, 
                далі разом – Сторони, уклали даний Договір, адресований необмеженому колу осіб, який є офіційною публічною пропозицією Продавця укласти з Покупцями договір купівлі-продажу Товарів, асортимент та детальна інформація про які міститься на сайті https://www.monosushi.com.ua. <br>
                Покупці при придбанні Товарів, асортимент та детальна інформація про які міститься на сайті https://www.monosushi.com.ua, приймають умови цього Договору про нижченаведене.
            </p>
            <p class="oferta__text">
                <strong>1. ЗАГАЛЬНІ ПОЛОЖЕННЯ</strong> 
                1.1. Договірні відносини між Продавцем і Покупцем оформляються у вигляді Договору публічної оферти.
                1.2. Договір публічної оферти є публічним, тобто відповідно до статей 633, 641 Цивільного кодексу України його умови однакові для всіх Покупців незалежно від статусу (фізична особа, юридична особа, фізична особа — підприємець). При повній згоді з даним Договором Покупець приймає умови та порядок оформлення замовлення, оплати та доставки товару Продавцем, відповідальності за невиконання умов цього Договору.
            </p>
            <p class="oferta__text">
                <strong>2. ТЕРМІНИ І ВИЗНАЧЕННЯ</strong>
«Договір публічної оферти» – публічний договір, зразок якого розміщений на сайті https://www.monosushi.com.ua, що містить пропозицію Продавця щодо придбання Товару, асортимент та детальна інформація про який міститься на сайті https://www.monosushi.com.ua, спрямовану невизначеному колу осіб. <br>
«Акцепт» – прийняття Покупцем пропозиції Продавця щодо придбання Товару, асортимент та детальна інформація про який міститься на сайті https://www.monosushi.com.ua, шляхом додавання його у віртуальний кошик та відправлення Замовлення. <br>
«Сайт» – сайт https://www.monosushi.com.ua. <br>
«Товар» – страви та напої, які пропонуються до продажу, відповідно до асортименту та цін, зазначених на сайті https://www.monosushi.com.ua. <br>
«Продавець» – Сервіс доставки суші Моносуші. <br>
«Покупець» – будь-яка дієздатна фізична, юридична особа, фізична особа-підприємець, що відвідали сайт https://www.monosushi.com.ua та мають намір придбати той чи інший Товар.
«Замовлення» – належно оформлена заявка Покупця на купівлю Товарів, що адресується Продавцю.
            </p>
        </div>
    </div>
</section>