<section class="section-about-us about-us">
    <div class="about-us__container">
        <div class="about-us__top top-title">
            <h1 class="about-us__title title">Про нас</h1>
        </div>
        <h3 class="about-us__subtitle">Monosushi – доставка неймовірно смачних суші у Львові.
        </h3>
        <div class="about-us__content">
            <div class="about-us__text">Головний пріоритет – висока якість їжі та сервісу. Ми – команда професіоналів, яка щодня працює для <br>
                Вас. Якість та Швидкість! – це два основних пріоритети в роботі команди. В першу чергу звичайно ж <br>
                Якість. Суші готуються без затримок, одразу ж після Вашого замовлення. А завдяки сучасним технологіям та
                відповідальному навчанню працівників, свіжі страви можливо доставляти до 59 хв в 75% замовлень.
            </div>
            <ol class="about-us__list">
                <li class="about-us__item">висока якість їжі та сервісу</li>
                <li class="about-us__item">команда професіоналів</li>
                <li class="about-us__item">сучасні технології приготування</li>
            </ol>
        </div>
    </div>
</section>
<section class="section-about-info about-info">
    <div class="about-info__container">
        <div class="about-info__row">
            <div class="about-info__item">
                <div class="about-info__picture">
                    <img src="assets/images/about-us/image01.jpg" alt="img">
                </div>
            </div>
            <div class="about-info__item">
                <div class="about-info__content">
                    <h3 class="about-info__title">Привіт! Познайомимось?</h3>
                    <p class="about-info__text">Monosushi – це доставка найсмачніших суші у Львові, яка була створена командою перфекціоністів. Двоє друзів, які обожнюють роли вирішили створити продукт, якого їм не вистачало на ринку Львова. Продукт, в якому ідеальним буде все: смак, упакування, сервіс і все це за лояльною ціною!</p>
                </div>
            </div>
        </div>
        <div class="about-info__row row-reverse">
            <div class="about-info__item">
                <div class="about-info__picture">
                    <img src="../../../../assets/images/about-us/image02.jpeg" alt="img">
                </div>
            </div>
            <div class="about-info__item">
                <div class="about-info__content content-reverse">
                    <h3 class="about-info__title">Наш пріоритет - ваша посмішка від задоволення</h3>
                    <p class="about-info__text"><span>Monosushi</span> – це доставка одного (mono) продукту. Роли вже давно стали рядовою стравою, проте процес їх приготування всеодно залишається цілим мистецтвом. Суші потрібно готувати за чіткою технологією суворо дотримуючись традицій. І в цьому ми справжні експерти! Сумніваєтесь? Тоді замовляйте безкоштовну доставку Monosushi і насолоджуйтесь.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-advantages advantages">
    <div class="advantages__container">
        <div class="advantages__top top-title">
            <h1 class="advantages__title title">Наші переваги</h1>
        </div>
        <div class="advantages__row">
            <div class="advantages__column">
                <div class="advantages__picture">
                    <img src="assets/images/advantages/icon01.svg" alt="icon">
                </div>
                <h5 class="advantages__title-column">Свіжі продукти</h5>
                <p class="advantages__subtitle">Наші інгредієнти ще вчора плавали у морі, а сьогодні вже у Ваших сушиках</p>
            </div>
            <div class="advantages__column">
                <div class="advantages__picture">
                    <img src="assets/images/advantages/icon02.svg" alt="icon">
                </div>
                <h5 class="advantages__title-column">Неймовірний смак</h5>
                <p class="advantages__subtitle">Ми створили сушики, які змусять Ваші рецептори вибухнути від насолоди</p>
            </div>
            <div class="advantages__column">
                <div class="advantages__picture">
                    <img src="assets/images/advantages/icon03.svg" alt="icon">
                </div>
                <h5 class="advantages__title-column">Великі порції</h5>
                <p class="advantages__subtitle">Ми віднайшли ідеальні порції ролів та завжди дотримуємось грамажу вказаного на сайті</p>
            </div>
            <div class="advantages__column">
                <div class="advantages__picture">
                    <img src="assets/images/advantages/icon04.svg" alt="icon">
                </div>
                <h5 class="advantages__title-column">Чистота на кухні</h5>
                <p class="advantages__subtitle">Ми як ніхто інший розуміємо, що морепродукти потребують абсолютної чистоти на кухні</p>
            </div>
        </div>
    </div>
</section>
<section class="section-questions questions">
    <div class="questions__container">
        <div class="questions__top top-title">
            <h3 class="questions__title title">Популярні запитання</h3>
        </div>
        <!-- Accordion -->
        <app-accordion></app-accordion>
    </div>
</section>
