 <section class="section-delivery delivery">
    <div class="delivery__container">
        <div class="delivery__top top-title">
             <h1 class="delivery__title title">Доставка та оплата</h1>
         </div>
         <div class="delivery__row">
            <div class="delivery__row-item">
                <div class="delivery__row-content">
                    <div class="delivery__row-image">
                        <img src="assets/images/delivery/image.svg" alt="img">
                    </div>
                    <div class="delivery__row-info">
                        <h4 class="delivery__row-title">Зелена зона</h4>
                        <p class="delivery__row-text">
                            В межах зеленої зони ми доставляємо протягом <span>1 год</span>
                        </p>
                        <p class="delivery__row-text">
                            Мінімальна сума замовлення в цю зону становить <span>300 грн</span>
                        </p> 
                    </div>
                </div>
            </div>
            <div class="delivery__row-item">
                <div class="delivery__row-content yellow">
                    <div class="delivery__row-image">
                        <img src="assets/images/delivery/image.svg" alt="img">
                    </div>
                    <div class="delivery__row-info">
                        <h4 class="delivery__row-title  yellow">Зелена зона</h4>
                        <p class="delivery__row-text  yellow">
                            В межах жовтої зони ми доставляємо протягом <span> 1.5 год.</span>
                        </p>
                        <p class="delivery__row-text  yellow">
                            Мінімальна сума замовлення в цю зону становить <span>400 грн</span> 
                        </p> 
                    </div>
                </div>
            </div>
         </div>
         <div class="delivery__map map-delivery">
            <div class="map-delivery__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d28284.06065375499!2d24.028123099500288!3d49.83801521510953!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1678624523876!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
         </div>
         <div class="delivery__info info-delivery">
            <div class="info-delivery__content">
            <p class="info-delivery__text">Команда «Monosushi» пропонує надзвичайно зручну систему доставки та оплати. Чіткість наших стандартів роботи забезпечує швидке і якісне виконання замовлень для наших гостей
            </p>
            <p class="info-delivery__text">Ми поділили Львів на умовні зони доставки – зелену та жовту. Для кожної зони ми чітко визначаємо час доставки.<br>
                Зелена зона доставки знаходиться ближче до нашої кухні, тому замовлення в цю зону доставляються – до 1 год. В жовту зону, яка знаходиться значно далі – до 1,5 год.
            </p>
        </div>
         </div>
         <div class="delivery__pay pay-delivery">
            <div class="delivery__top top-title pay-top-title">
                <h2 class="delivery__title title pay-title">Оплата</h2>
            </div>
            <div class="pay-delivery__container">
                <div class="pay-delivery__item">
                    <div class="pay-delivery__content">
                    <div class="pay-delivery__image">
                        <img src="assets/images/delivery/icon01.svg" alt="icon">
                    </div>
                    <div class="pay-delivery__info">
                        <h4 class="pay-delivery__title">Оплата готівкою</h4>
                        <div class="pay-delivery__text">Розраховуйтесь за свої улюблені сушики готівкою при отриманні.</div>
                    </div>
                </div>
                </div>
                <div class="pay-delivery__item right-item">
                    <div class="pay-delivery__content">
                    <div class="pay-delivery__image">
                        <img src="assets/images/delivery/icon02.svg" alt="icon">
                    </div>
                    <div class="pay-delivery__info">
                        <h4 class="pay-delivery__title">Безготівкова оплата</h4>
                        <div class="pay-delivery__text">Розраховуйтесь за свої улюблені сушики онлайн або карткою при отриманні.</div>
                    </div>
                    </div>
                </div>
            </div>
         </div>
         <div class="delivery__info info-delivery info-delivery-pay">
            <div class="info-delivery__content">
            <p class="info-delivery__text text-pay">Ми пропонуємо Вам 3 найпоширеніші варіанти для розрахунку: готівка, оплата онлайн або ж розрахунок карткою.
            </p>
            <p class="info-delivery__text text-pay">Просто позначте найбільш зручний для Вас спосіб оплати при оформленні замовлення на сайті або ж повідомте про це оператора по телефону.
            </p>
            <p class="info-delivery__text text-pay">Доставка «Моносуші» – це чіткі стандарти роботи, високий рівень сервісу та турбота про кожного гостя. Ми щодня розвиваємось, щоб почути лише три слова «Моносуші – це любов».</p>
        </div>
         </div>
    </div>
</section> 


