<div class="accordion__container">
<mat-accordion>
    <mat-expansion-panel >
       <mat-expansion-panel-header>
        <mat-panel-title>
            Як можна замовити, якщо наша адреса не входить у вашу зону доставки?
        </mat-panel-title>
       </mat-expansion-panel-header>
       <p class="accordion__text">Якщо ваша адреса знаходиться поза межами нашої зони доставки, ви можете:</p>
       <ol class="accordion__list">
        <li class="accordion__list-item">Забрати замовлення самовивозом за однією з наших адрес. (В такому випадку ви отримаєте “Запечені моно макі з лососем у подарунок).</li>
        <li class="accordion__list-item">Дізнатись в оператора чи є можливість зробити виключення для доставки поза межі зони в даний момент часу.</li>
       </ol>
      </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
         <mat-panel-title>
            Скільки часу очікувати на замовлення?
         </mat-panel-title>
        </mat-expansion-panel-header> 
        
        <p class="accordion__text">Час доставки залежить від адреси замовлення.<br>
            Доставка в зелену зону – до 1 год.<br>
            Доставка в жовту зону – до 1,5 год.</p>
     </mat-expansion-panel>
     <mat-expansion-panel>
        <mat-expansion-panel-header>
         <mat-panel-title>
            Доставка безкоштовна?
         </mat-panel-title>
        </mat-expansion-panel-header> 
        <p class="accordion__text">Так, доставка безкоштовна при мінімальній сумі замовлення 200 грн в зелену зону доставки та 300 грн в жовту зону.</p>
     </mat-expansion-panel>
     <mat-expansion-panel>
        <mat-expansion-panel-header>
         <mat-panel-title>
            До якої години ви приймаєте замовлення?
         </mat-panel-title>
        </mat-expansion-panel-header> 
        <p class="accordion__text">Ми приймаємо замовлення кожного дня з 11:00 по 21:30 ( у зв’язку з комендантською годиною </p>
     </mat-expansion-panel>
</mat-accordion>
</div>